/* ---------- Dockbar color variables ---------- */
/* ---------- Base styles ---------- */
body {
	background: #fff url(../images/custom/background.png) 100% 0 repeat;
}
#wrapper {
	background: #fff;
	margin: 0 auto 20px;
	width: 960px;
}
.signed-in #wrapper {
	margin-top: 45px;
}
#sign-in {
	color: #fff;
	font-size: 12px;
	position: absolute;
	right: 23px;
	text-shadow: none;
}
#sign-in:hover {
	font-weight: underline;
}
/* ---------- Dockbar ---------- */
.dockbar-split .dockbar .navbar-inner .nav {
	background-color: #00bfff;
}
.dockbar-split .dockbar .navbar-inner .nav > li {
	background-color: transparent;
}
.dockbar-split .dockbar .navbar-inner .nav li.dropdown.active > .dropdown-toggle, .dockbar-split .dockbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle, .dockbar-split .dockbar .navbar-inner .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #0ea6f9;
}
.dockbar-split .dockbar .navbar-inner .nav-add-controls {
	background: transparent;
}
.dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a {
	background: #0db5e7;
}
.dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover {
	background: #0993dd;
}
.dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link {
	background: #bdbdbd;
}
/* ---------- Dockbar color variables ---------- */
.home-page #banner {
	background: url(../images/custom/banner.jpg) 0 0 no-repeat;
	height: 500px;
	position: relative;
}
#banner {
	background: url(../images/custom/small_banner.jpg) 0 0 no-repeat;
	height: 270px;
	position: relative;
}
#banner #heading .logo {
	float: left;
	margin: 20px 0 20px 20px;
}
#banner #heading .site-name {
	background: #3d7799;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	margin: 30px 10px;
	padding: 5px 10px;
}
#banner #navigation {
	background: url(../images/custom/nav_bg.png) repeat-x 0 -1px;
	bottom: 0;
	float: left;
	font: 12px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	left: 0;
	position: absolute;
	width: 960px;
}
#banner #navigation a {
	background: url(../images/custom/nav_split.png) no-repeat right;
	color: #3d7799;
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
}
#banner #navigation a:hover {
	background: url(../images/custom/nav_hover.png) repeat-x 100%;
	color: #fff;
	text-shadow: 0 -1px 0 #295f7b;
}
#banner #navigation li {
	float: left;
	line-height: 14px;
}
#banner #navigation li.lfr-nav-hover {
	background: #3d7799;
}
#banner #navigation li.lfr-nav-hover a {
	background: url(../images/custom/nav_hover.png) repeat-x 100%;
}
#banner #navigation li.lfr-nav-hover a span {
	color: #fff;
	text-shadow: 0 -1px 0 #295f7b;
}
#banner #navigation ul {
	list-style: none;
	margin: 0;
}
.modify-pages .delete-tab {
	background: url(../images/custom/nav_bg.png) repeat-x 0 -1px;
	border: 2px solid #3d7799;
	color: #555;
	font-size: 16px;
	padding: 4px;
	right: -10px;
	top: 0;
	z-index: 300;
}
.modify-pages .delete-tab:hover {
	color: #cd2626;
}
#page-search {
	display: inline-block;
	float: right;
	position: absolute;
	right: 10px;
	top: 30px;
}
#page-search #keywords {
	background: rgba(255, 255, 255, 0.2);
	border-width: 0;
	color: #fff;
	font: italic 0.5em "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	height: 30px;
	width: 220px;
}
#page-search #search {
	display: none;
}
/* ---------- Dockbar color variables ---------- */
.left {
	float: left;
	padding-left: 0;
}
.right {
	float: right;
	padding-right: 0;
}
img.center {
	display: block;
	height: 87px;
	margin: 0 auto 1em auto;
}
.button {
	background: url(../images/custom/port_button_bg.png) repeat-x;
	color: #27698a;
	font: 18px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	margin: 0 5px;
	padding: 7px 12px;
	text-decoration: none;
}
.button.full {
	display: block;
	margin: 0;
}
.journal-content-article ul {
	font: 0.57em "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	list-style-image: url(../images/custom/port_bullet.jpg);
}
.paginator-link {
	text-align: center;
}
#content #main-content {
	display: inline-block;
	margin: 20px 0 0;
	padding: 0 20px;
	width: 920px;
}
#column-1.span4 {
	max-width: 66%;
}
/* ---------- Portlet ---------- */
.portlet-column-content {
	font-size: 12px;
	padding: 0 5px;
}
.portlet-topper {
	background: url(../images/custom/port_topper.png) 100% repeat-x;
	height: 37px;
	letter-spacing: 0.05em;
}
.portlet-topper .portlet-topper-toolbar a, .portlet-topper .portlet-topper-toolbar a:visited {
	color: #fff;
}
.portlet-title {
	color: #fff;
	font: 21px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	margin: 0 12px 0 0;
	padding: 6px 0 0 15px;
}
.portlet-title img {
	display: none;
}
.signed-in.controls-visible .portlet-title {
	background: none;
}
.portlet-icon-back {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}
.portlet-content {
	margin: 15px 1px;
	padding: 0;
}
.portlet-body {
	color: #3d7799;
}
.portlet-body .journal-content-article ul li {
	padding-top: 7px;
}
.portlet-options .dropdown-toggle, .portlet-options.open .dropdown-toggle {
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	width: 16px;
}
.portlet-options .dropdown-toggle .caret, .portlet-options.open .dropdown-toggle .caret {
	display: none;
}
/* ---------- Dockbar color variables ---------- */
.portlet-column-content {
	padding: 5px 10px;
}
.carousel menu {
	background: none;
	bottom: 11px;
	right: 19px;
}
.carousel-menu-item {
	background: #858585;
}
.carousel-menu-active {
	background: #fff;
}
.carousel-menu-pause, .carousel-menu-play, .carousel-menu-prev, .carousel-menu-next {
	display: none;
}
/* ---------- Footer ---------- */
#footer {
	background: url(../images/custom/footer_gradient.png) repeat-x #f6f6f6;
	height: 101px;
	text-align: center;
}
#footer #navigation {
	font: 15px;
	padding: 31px 0 0;
	width: 960px;
}
#footer #navigation a {
	color: #6e6e6e;
	padding: 0 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}
#footer #navigation a:hover {
	color: #3d7799;
}
#footer #navigation li {
	border-left: 1px solid #6e6e6e;
	display: block;
	float: left;
}
#footer #navigation li.first {
	border-left-width: 0;
}
#footer #navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer .clearer {
	clear: both;
}
#social {
	margin: 0 auto;
	padding: 10px 0 0;
	width: 100%;
}
#social li {
	float: left;
	padding: 0 3px;
}
#social li a {
	display: block;
	height: 30px;
	text-decoration: none;
	width: 30px;
}
#social li a img {
	display: block;
}
#social ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
/* ---------- Hidden accessible ---------- */
#footer-social a span, #navigation .child-menu, #skip-to-content, .portlet-journal-content-search .lfr-search-button, .portlet-journal-content-search .lfr-search-keywords {
	clip: rect(0 0 0 0);
	margin: 0;
	padding: 0;
	position: absolute;
}
/* ---------- Extras ---------- */
#wrapper {
	box-shadow: #000 0 0 10px;
}
.dockbar .navbar-inner {
	box-shadow: none;
}
/*
.dockbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle{
   background-image:(linear-gradient(#0EA6F9, #0993DD));

   box-shadow: none;

   linear-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd, vertical);
}*/
#banner #heading .site-name {
	border-radius: 4px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px #3d7799;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.button {
	box-shadow: #bebebe 0 2px 2px;
}
.portlet-title {
	text-shadow: 0 -1px 0 #295973;
}
.button, #banner #navigation a, #footer #navigation a:hover {
	text-shadow: 0 1px 0 #fff;
}
.modify-pages .delete-tab {
	border-radius: 50%;
	text-shadow: none;
}
.modify-pages .delete-tab:hover {
	box-shadow: 0 1px 1px -1px #000;
}
