.detailBlogs{
	color:black !important;
	text-align: left;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
}
.title h2{
	color:black !important;
	 font-weight: bold;
}
.description h4{
	color:black !important;
}
div.contentBlogs{
	width:100%;
	text-align: left;
	
}
div.contentBlogs img{
	width:100% !important;
	height:100%;
}
.contentBlogs p{
	text-align: justify !important; /* For Edge */
    display: block;
}