.chidao-dieuhanh {
    background: #FFF url('http://bocongan.gov.vn/Publishing_Resources/web/media/images/bg-right.png') repeat-x center top;
    border: 1px solid #ddd;
    overflow: auto;
}

.head-chidaodieuhanh {
    font: 700 18px/35px Roboto, Arial, Tahoma;
    color: #404041;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0 5px 0;
}

.lts-cmanh {
    padding: 10px;
    border-bottom: 4px solid #d71920;
}

.lts-cmanh .top1 {
    /*background: #FFF;*/
    border-bottom: 1px dotted #ccc;
}

.lts-cmanh .top1 div video {
    width: 100%;
}

.lts-cmanh .top1 div {
    padding: 8px 0px;
}

.lts-cmanh .top1 div a {
    color: #404041;
    font: 700 15px/18px Roboto, Arial, Tahoma;
    text-align: justify;
    text-decoration: none;
}

.lts-cmanh ul {}

.lts-cmanh ul li {
    background: url('http://bocongan.gov.vn/Publishing_Resources/web/media/images/i-bul.png') no-repeat left center;
    border-bottom: 1px dotted #ccc;
    padding: 10px 0 10px 15px;
    list-style: none;
}

.lts-cmanh ul li:last-child {
    border-bottom: none;
}

.lts-cmanh ul li a {
    color: #333;
    font: 400 15px/18px Roboto, Arial, Tahoma;
    text-decoration: none;
}

.lts-cmanh ul li a.active {
    font-weight: bold;
    color: #be1e2d;
}

.lts-cmanh ul li a:hover {
    font-weight: bold;
    color: #be1e2d;
}

.linered {
    border-top: 2px solid #d71920;
    width: 30%;
    margin: 0 auto;
}