	.cp_Thongtindientu {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
    }

    .cp_Thongtindientu td {
        background-color: rgb(182, 23, 23);
        text-align: center;
        height: 20px;
        font-size: 14px;
    }

    .cp_Thongtindientu a {
        color: white;
        text-decoration: none;
    }


    .cp_Thongtindientu td a:hover {
        color: yellow;
    }

    .cp_Thongtindientu tr {
        height: 40px;
    }
    
    .cp_ngaygio{
     text-align: right; 
     font-size: 12px;
     background-color:rgb(236, 233, 233); 
     width: 100%;
    }