a:link.tinmoi { COLOR: #02345e; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }

a:visited.tinmoi { COLOR: #02345e; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }

a:hover.tinmoi { COLOR: #c10600; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }
.title{ font-family: Arial; font-size: 12px; color: #990000; font-weight: bold; text-align:center; }