*{
	font-family: Arial;
}
.soup-image {
	width:60% !important;
	float:left;
	margin-right:2%;
	border: 4px double rgb(212, 211, 211);
}
.featured-news{
	  display: grid;
  grid-template-columns: 50% 50% !important;
}
.featured-news a{
	color: black !important;
	text-decoration:none;
	
}
.featured-news a:hover{
	color:red !important;
}
.fearured-news span{
	padding:5px;
}
.title{
	padding:7px;
	display: block !important;
    text-align: justify !important;
}
p{
    text-align: justify !important; /* For Edge */
    display: block;
}
.grid2 a{
	font-size:20px;
}
@media only screen and (max-width: 600px) {
  .featured-news{
  	display:block !important;
  }
  .grid2 a{
	  font-size:16px;
  }
  .soup-image{
	  width: 100% !important;
	  border: 4px double rgb(212, 211, 211);
  }
  .grid1 p{
	font-size: 14px;
  }
  .title{
	  font-size:12px;
  }
}
@media only screen and (max-width: 1200px) {
	.featured-news{
		display:block !important;
	}
	.grid2 a{
		font-size:16px;
	}
	.soup-image{
		width: 100% !important;
		border: 4px double rgb(212, 211, 211);
	}
	.grid1 p{
	  font-size: 14px;
	}
	.title{
		font-size:12px;
	}
  }
