	.cp_contentBaocp{
	}
	
	.baocp_title {
        height: 88px;
        text-align: left;
    }

    .baocp {
        display: grid;
        grid-template-columns: 33.33% 66.66%;
        grid-template-rows: auto;
    }

    .baocp_item1 {
        grid-column-start: 1;
    }

    .baocp_item2 {
        grid-column-start: 2;
    }