.link-goverment {
    text-transform: uppercase;
    font: 700 16px/30px Roboto, Arial, Tahoma;
    color: #d71920;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}
.link-portal-goverment img{
    width: 84%;
    margin-left: 20px;
}