.video-media{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;
}
.video-media video{
    width: 300px;
    height: fit-content;
}
.video-media a{
    text-decoration: none;
}
.video-media p{
    color:#58595b;
    width: 100%;
    text-align: justify;
}
.video-media p:hover{
    color:#038bd4;
}
.head-cm { width: 100%; border-bottom: 1px solid #D71921; margin-bottom: 20px; }
.head-cm .xemthem { float: right; font: 400 13px Roboto,Arial,Tahoma; color: #be1e2d; display: block;}
.head-cm ul { display: inline-flex;  }
.head-cm ul li{list-style:none;}
.head-cm ul li a { color: #404041; font: 400 13px/35px Roboto,Arial,Tahoma; padding: 0 15px; border-right: 1px solid #ddd; text-decoration: none;text-transform: uppercase;}
.head-cm ul li:first-child { background: url('http://bocongan.gov.vn/Publishing_Resources/web/media/images/bg-chuyenmuc.png') no-repeat right top; position: relative;
    top: 0%;
    left: 0%;
}
.head-cm ul li:first-child a { color: #FFF; font: 700 16px/35px Roboto,Arial,Tahoma; text-transform: uppercase; border-right: none; padding: 0 30px 0 20px; }
.head-cm ul li:last-child a { border-right: none; }