*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.tab-content a{
    text-decoration: none;
    color:black;
}
.tab-content a:hover{
    color:#038bd4;
}
.datechuyenmuc{
    color: #777;
    font-size: 11px;
    margin-bottom: 5px;
}
.bullet-rectangle li{
    list-style: none;
    padding: 0px 0px 3px 0px;
}

.tab {
    overflow: hidden;
    border-bottom: 2px solid rgb(214, 77, 77);
    background-color: #f1f1f1;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    
}
 
.tab button:hover {
    background-color: rgb(221, 111, 111);
    color:white;
}
.tab-content {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-top: none;
    
}

.media img{
    width: 95%;
    margin: 0px 10px 10px 0px;
}
.tab button.active {
    background-color: rgb(218, 22, 22);
    color:white;
    border-radius: 0px 20px 0px 0px;
    font-weight: bold;
}

.media{
    display:flex;
}
.bullet-rectangle >li::before{
    content: "\2022";
    margin:3px;
    color: rgb(136, 121, 121);
}