a:link.menu_ngang { COLOR: #FFFFFF; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:arial }

a:visited.menu_ngang { COLOR: #FFFFFF; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:arial }

a:hover.menu_ngang { COLOR: #fedf9b; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:arial}


a:link.menu_ngang1 { COLOR: #FFFFFF; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:arial }

a:visited.menu_ngang1 { COLOR: #FFFFFF; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:arial}

a:hover.menu_ngang1 { COLOR: #fedf9b; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:arial}


a:link.menu_doc { COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:arial }

a:visited.menu_doc { COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:arial}

a:hover.menu_doc { COLOR: #b60002; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:arial}


a:link.menu_bottom { COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:tahoma }

a:visited.menu_bottom { COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:tahoma}

a:hover.menu_bottom { COLOR: #b60002; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:tahoma}


a:link.tieudiem { COLOR: #02345e; FONT-SIZE: 16px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:arial}

a:visited.tieudiem{ COLOR: #02345e; FONT-SIZE: 16px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:arial}

a:hover.tieudiem { COLOR: #c10600; FONT-SIZE: 16px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:arial}



a:link.tieudiem1 { COLOR: #02345e; FONT-SIZE: 14px;  TEXT-DECORATION: none; font-family:arial}

a:visited.tieudiem1{ COLOR: #02345e; FONT-SIZE: 14px;  TEXT-DECORATION: none; font-family:arial}

a:hover.tieudiem1 { COLOR: #c10600; FONT-SIZE: 14px;  TEXT-DECORATION: none; font-family:arial}



a:link.tinmoi { COLOR: #02345e; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }

a:visited.tinmoi { COLOR: #02345e; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }

a:hover.tinmoi { COLOR: #c10600; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }



a:link.sukien { COLOR: #02345e; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }

a:visited.sukien { COLOR: #02345e; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }

a:hover.sukien { COLOR: #c10600; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }




a:link.tinmoi2 { COLOR: #02345e; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:Arial }

a:visited.tinmoi2 { COLOR: #02345e; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:Arial }

a:hover.tinmoi2 { COLOR: #c10600; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:Arial }


a:link.title_box { COLOR: #990000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:Arial }

a:visited.title_box{ COLOR: #990000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:Arial}

a:hover.title_box { COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:Arial }



a:link.tinbonganh { COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial}

a:visited.tinbonganh { COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }

a:hover.tinbonganh { COLOR: #b60002; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial}






a:link.chitiet { COLOR: #868686; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Tahoma }

a:visited.chitiet { COLOR: #868686; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Tahoma }

a:hover.chitiet { COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Tahoma }




a:link.bottom { COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }

a:visited.bottom { COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }

a:hover.bottom { COLOR: #fd2003; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none; font-family:Arial }


a:link.titlelink { COLOR: #990000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:Arial }

a:visited.titlelink { COLOR: #990000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:Arial }

a:hover.titlelink { COLOR: #1f527b; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; font-family:Arial }


.title{ font-family: Arial; font-size: 12px; color: #990000; font-weight: bold; padding: 0px 0px 0px 10px }
.title1{ font-family: Arial; font-size: 12px; color: #990000; font-weight: bold}
.title_box{ font-family: Arial; font-size: 18px; color: #FFFFFF; font-weight: normal; padding: 0px 0px 0px 0px }
.title_box1{ font-family: Arial; font-size: 16px; color: #ca0702; font-weight: normal; padding: 0px 0px 0px 0px }
.title_chitiet{ font-family: Arial; font-size: 15px; color: #1f527b; font-weight:bold}
.time { font-family: Arial; font-size: 11px; color: #777a7c; font-weight: normal}
.news { font-family: Arial; font-size: 11px; color: #c40900; font-weight: bold}
.textbody { font-family: Arial; text-align: justify; font-size: 12px; color: #000000; font-weight: normal }
.chuthich { font-family: Arial; font-size: 12px; color: #000000; font-weight: normal }
.title_tinmoi { font-family: Arial; font-size: 12px; color: #000000; font-weight: bold }
.bottom { font-family: Arial; font-size: 11px; color: #000000; font-weight: normal; TEXT-DECORATION: none}

.title_news{
background-image: url(/templates/govportal/tinhthanh/images/bgr.jpg);
border-collapse:collapse;
border: rgb(163, 195, 243) 1px solid;
text-transform:uppercase;
}
.tieudiem1 { COLOR: #02345e; FONT-SIZE: 14px;  TEXT-DECORATION: none; font-family:arial}

table.tableMenu th td{
	padding:10px;
}
