.cp_Thongtindientu_Right {
}

.bandohanhchinh {
        height: 40px;
        background-color: rgb(207, 233, 245);
        text-align: center;
        height: 40px;
        border: 1px solid orange;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bandohanhchinh table {
        width: 100%;
    }

    .cp_right img {
        width: 100%;
    }

	.kengang {
        border: 1px solid rgb(107, 105, 105);
        width: 100%;
        margin: auto;
    }
    
    .cp_right a{
        text-decoration: none;
    }
    .cp_right a:hover{
    	color: red
    }