	.cp_baochinhphuLeft {}

	.cp_baochinhphuLeft img {
		width: 100%;
		height: auto;
	}

	.cp_baochinhphuLeft .blogs {
		grid-column-start: 1;
		padding: 10px;
		height: 60px;
		border: 1px solid rgb(219, 216, 216);

	}

	.cp_baochinhphuLeft .nameCg {
		padding: 10px;
		height: 35px;
		border: 1px solid rgb(219, 216, 216);
	}

	.cp_baochinhphuLeft .chuyende {
		overflow: auto;
		height: 160px;
	}

	.cp_baochinhphuLeft .nameOther {
		height: 34px;
		background-color: rgb(27, 60, 209);
		color: white;
		padding-left: 5px;
		padding-top: 5px;
	}

	.cp_baochinhphuLeft a {
		color: black;
	}

	.cp_baochinhphuLeft .Docnhieu {
		overflow: auto;
		height: 190px;
		list-style-type: circle;
		border: 1px solid rgb(221, 217, 217);
		margin: 5px;
	}