table.doc_detail_attr_table {border-spacing:0px;border:#7994CB 1px solid;border-collapse:collapse;width:100%;}
table.doc_detail_attr_table td{border:#7994CB 1px solid;padding:2px;margin:0px;vertical-align:middle;font-family:'Arial';font-size:10pt;}
.doc_detail_others {font-size:10pt;font-weight:bold;margin-left:5px;}
.doc_detail_others_item{font-family:'Arial';font-size:9pt;margin-left:8px;margin-top:4px;margin-bottom:4px;margin-right:3px;}
.doc_detail_others_item a{
	text-decoration:none;
	color:black;
}
.doc_detail_others_item a:hover{
	color:red;
}