.countViewBlogs a{
	color:black !important;
	
}
.countViewBlogs a:hover{
	color:red !important;
	text-decoration:none;
}
.imageViewBlogs img{
	width:100%;

}
.countViewBlogs{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:left;
	padding:5px;
}

.currentDate {
	background:#80808061;
}
.currentDate p{
	opacity:0.8;
	font-size:11px;
	padding:4px;
	text-align:right;
}
.soup-image {
	width:60% !important;
	float:left;
	margin-right:2%;
	border: 4px double rgb(212, 211, 211);
}
.featured-news{
	  display: grid;
  grid-template-columns: 50% 50% !important;
}
.featured-news a{
	color: black !important;
	text-decoration:none;
	
}
.featured-news a:hover{
	color:red !important;
}
.fearured-news span{
	padding:5px;
}
.title1{
	padding: 25px 0px 0px 10px;
	display: block !important;
    text-align: justify !important;
}
p{
    text-align: justify !important; /* For Edge */
    display: block;
}
.grid2 a{
	font-size:20px;
}
.grid {
	display: grid;
	grid-template-columns: 50% 50%;
	box-shadow: 0px 0px 25px -11px grey inset;
	padding: 10px 5px;
}

.hotNews a {
	color: black !important;
	text-decoration: none;
}
.hotNews a:hover {
	color: red !important;
}
a {
	text-align: justify;
}
.soup-image1 {
	width: 50% !important;
	height: 100% !important;
	float: left;
	margin-right: 2%;
}
.hotNews {
	padding: 2%;
}
@media only screen and (max-width: 600px) {
	.grid {
		display: block;
		box-shadow: 0px 0px 25px -11px grey inset;
		padding: 10px 5px;
	}
	.hotNews{
		padding:2%;
		display:flex;
	}
	.hotNews a{
		font-size: 12px;
	}
	.soup-image1 {
		width: 30% !important;
		height: 100% !important;
		float: left;
		margin-right: 2%;
	}
  .featured-news{
  	display:block !important;
  }
  .grid2 a{
	  font-size:16px;
  }
  .soup-image{
	  width: 100% !important;
	  border: 4px double rgb(212, 211, 211);
  }
  .grid1 p{
	font-size: 14px;
  }
  .title{
	  font-size:12px;
  }
}
@media only screen and (max-width: 1200px) {
	.grid {
		display: block;
		box-shadow: 0px 0px 25px -11px grey inset;
		padding: 10px 5px;
	}
	.hotNews{
		padding:2%;
		display:flex;
	}
	.soup-image1 {
		width: 30% !important;
		height: 100% !important;
		float: left;
		margin-right: 2%;
	}
	.featured-news{
		display:block !important;
	}
	.grid2 a{
		font-size:16px;
	}
	.soup-image{
		width: 100% !important;
		border: 4px double rgb(212, 211, 211);
	}
	.grid1 p{
	  font-size: 14px;
	}
	.title{
		font-size:12px;
	}
  }
  .head-albums_anh { font: 700 18px/35px Roboto,Arial,Tahoma; color: #404041; text-transform: uppercase; text-align: center; margin: 15px 0 5px 0; }
           .albums_anh { background: #FFF url('http://bocongan.gov.vn/Publishing_Resources/web/portal/images/bg-right.png') repeat-x center top; border: 1px solid #ddd; overflow: auto; }
           .linered { border-top: 2px solid #d71920; width: 30%; margin: 0 auto; }
           .lts-cmanh { padding: 10px; border-bottom: 4px solid #d71920; }
           .lts-cmanh .top1 { background: #FFF; border: 1px solid #ccc; }
           .lts-cmanh .top1 div { padding: 8px 10px; }
           .lts-cmanh .top1 a:hover.album_bottom{color: red;}
           .lts-cmanh .top1 div a { color: #404041; font: 700 15px/18px Roboto,Arial,Tahoma; text-align: justify; display:block;}
           .lts-cmanh ul { list-style: none; }
           .lts-cmanh ul li { background: url('http://bocongan.gov.vn/Publishing_Resources/web/portal/images/i-bul.png') no-repeat left 18px; border-bottom: 1px dotted #ccc; padding: 10px 0 10px 15px; text-align: justify;}
           .lts-cmanh ul li a { color: #333; font: 400 15px/18px Roboto,Arial,Tahoma; display:block;text-align:justify; }
           a,.ms-link:visited{text-decoration:none;}
           @media screen and (max-width: 974px) {
            	.albums_anh{
            		display: none;
            	}
			}
