.countViewBlogs a {
  color: black !important;
}

a {
  text-decoration: none !important;
}
.countViewBlogs a:hover {
  color: #0a4298 !important;
  text-decoration: none;
}
.imageViewBlogs img {
  width: 100%;
}
.countViewBlogs {
  font-family: Roboto, Arial, Tahoma;
  font-size: 14px;
  text-align: left;
  padding: 5px;
  border: 1px solid #ddd;
  overflow: auto;
  border-bottom: 4px solid #0a4298;
  background: rgba(226, 229, 245, 0.4);
}
.soup-image {
  width: 60% !important;
  float: left;
  margin-right: 2%;
  border: 4px double rgb(212, 211, 211);
}

.title1 {
  padding: 25px 0px 0px 10px;
  display: block !important;
  text-align: justify !important;
}
p {
  text-align: justify !important; /* For Edge */
  display: block;
}
.grid2 a {
  font-size: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: 0px 0px 25px -11px grey inset;
  padding: 10px 5px;
}

.hotNews a {
  color: black !important;
  text-decoration: none;
}
.hotNews a:hover {
  color: red !important;
}
a {
  text-align: justify;
}
.soup-image1 {
  width: 50% !important;
  height: 100% !important;
  float: left;
  margin-right: 2%;
}
.hotNews {
  padding: 2%;
}
@media only screen and (max-width: 600px) {
  .grid {
    display: block;
    box-shadow: 0px 0px 25px -11px grey inset;
    padding: 10px 5px;
  }
  .hotNews {
    padding: 2%;
    display: flex;
  }
  .hotNews a {
    font-size: 12px;
  }
  .soup-image1 {
    width: 30% !important;
    height: 100% !important;
    float: left;
    margin-right: 2%;
  }
  .featured-news {
    display: block !important;
  }
  .grid2 a {
    font-size: 16px;
  }
  .soup-image {
    width: 100% !important;
    border: 4px double rgb(212, 211, 211);
  }
  .grid1 p {
    font-size: 14px;
  }
  .title {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1200px) {
  .grid {
    display: block;
    box-shadow: 0px 0px 25px -11px grey inset;
    padding: 10px 5px;
  }
  .hotNews {
    padding: 2%;
    display: flex;
  }
  .soup-image1 {
    width: 30% !important;
    height: 100% !important;
    float: left;
    margin-right: 2%;
  }
  .featured-news {
    display: block !important;
  }
  .grid2 a {
    font-size: 16px;
  }
  .soup-image {
    width: 100% !important;
    border: 4px double rgb(212, 211, 211);
    
  }
  .grid1 p {
    font-size: 14px;
  }
  .title {
    font-size: 12px;
  }
}
.head-albums_anh {
  font: 700 18px/35px Roboto, Arial, Tahoma;
  color: #404041;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0 5px 0;
}
.albums_anh {
  background: #fff;
  border: 1px solid #ddd;
  overflow: auto;
}
.linered {
  border-top: 2px solid #0a4298;
  width: 30%;
  margin: 0 auto;
}
.lts-cmanh ul li:last-child {
  border-bottom: none;
}
.lts-cmanh ul li a {
  color: #333;
  font: 400 15px/18px Roboto, Arial, Tahoma;
  text-decoration: none;
  display: block;
  text-align: justify;
}

.lts-cmanh ul li a:hover {
  color: #038bd4;
}

.lts-cmanh ul li ul li:first-child {
  border-top: 1px dotted #ccc;
  margin-top: 10px;
}
.lts-cmanh ul li {
  background-position-y: 18px;
  border-bottom: 1px dotted #ccc;
  padding: 10px 0 10px 20px;
}
.lts-cmanh {
  padding: 10px;
  border-bottom: 4px solid #0a4298;
}
.lts-cmanh .top1 {
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
}
.lts-cmanh .top1 div {
  padding: 8px 0px;
}

.lts-cmanh .top1 div a {
  color: #404041;
  font: 700 15px/18px Roboto, Arial, Tahoma;
  text-align: justify;
  text-decoration: none;
}

.lts-cmanh ul li a.active {
  color: #038bd4;
}
a,
.ms-link:visited {
  text-decoration: none;
}
@media screen and (max-width: 974px) {
  .albums_anh {
    display: none;
  }
}
.head-cm {
  width: 100%;
  border-bottom: 1px solid #0a4298;
}
.head-cm ul {
  display: inline-flex;
}

.head-cm ul li:first-child a {
  color: #fff;
  font: 700 16px/35px Roboto, Arial, Tahoma;
  text-transform: uppercase;
  border-right: none;
  padding: 0 30px 0 20px;
}
.head-cm ul li a {
  color: #404041;
  font: 400 13px/35px Roboto, Arial, Tahoma;
  padding: 0 10px;
  border-right: 1px solid #ddd;
  text-decoration: none;
}
.info-album {
  overflow: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.box-top3 li a {
  text-align: justify;
  font: 700 14px/19px Roboto, Arial, Tahoma;
  display: block;
}
.video-other li {
  min-height: 240px !important;
}
.box-top3 li img {
  width: 100%;
  height: 200px;
}


.box-top3 ul li {
  width: 28%;
  margin-right: 4.3%;
  float: left;
  position: relative;
}

.box-top3 ul li a {
  text-align: justify;
  font: 700 14px/19px Roboto, Arial, Tahoma;
  color: #58595b;
  display: block;
  text-decoration: none;
}
.box-left-home {
  overflow: auto;
  margin-bottom: 20px;

}
.head-cm ul li:last-child a {
  border-right: none;
}
.box-top3 ul li img {
  width: 100%;
  height: 170px;
}
.main_photo {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  text-decoration: none;
}

.main_photo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #fff;
  color: #333;
}
.container_photo {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 68rem;
  width: 100%;
}
.main_photo .container_photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.main_photo .card-image {
  background: #fff;
  display: block;
  padding-top: 70%;
  position: relative;
  width: 100%;
}
.main_photo .card-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 67%;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .main_photo .container_photo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

.chidao-dieuhanh {
  border: 1px solid #ddd;
  overflow: auto;
}
.head-chidaodieuhanh {
  font: 700 18px/35px Roboto, Arial, Tahoma;
  color: #404041;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0 5px 0;
}



//Hot event
#featured {
  position: relative;
  min-height: 515px;
  overflow: hidden;
  background: #fff;
}
#featured ul.ui-tabs-nav {
  position: absolute;
  top: 0;
  left: 63.04131054131054%;
  padding: 0;
  margin: 0;
  width: 36.75213675213675%;
  overflow: auto;
  overflow-x: auto;
  overflow-x: hidden;
}
#featured ul.ui-tabs-nav li {
  color: #666;
  float: right;
  margin-bottom: 7px;
  padding-bottom: 7px;
  width: 100%;
}
#featured ul.ui-tabs-nav li img {
  float: left;
  padding-right: 10px;
  width: 100px;
}
#featured ul.ui-tabs-nav li span {
  font: normal 13px/18px "Roboto", Arial, Verdana;
  display: block;
}
#featured li.ui-tabs-nav-item a p {
  font-size: 15px;
  color: #1b75bb;
}
#featured li.ui-tabs-nav-item a {
  font-family: Roboto, Arial, Tahoma;
  text-align: justify;
  display: block;
  height: auto;
  text-decoration: none;
  color: #58585b;
  background: #fff;
  outline: none;
  font-size: 14px;
}
#featured li.ui-tabs-nav-item a:hover {
  background: #fff;
  font-weight: bold;
  color: #038bd4;
}
#featured li.ui-tabs-nav-item:last-child a {
  border-bottom: none;
}
#featured li.ui-tabs-selected span,
#featured li.ui-tabs-active span {
  font: 700 13px Roboto, Arial, Tahoma !important;
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a,
#featured ul.ui-tabs-nav li.ui-tabs-active a {
  background: #fff;
  font-weight: bold;
}
#featured .ui-tabs-panel {
  width: 60.54131054131054%;
  position: relative;
  text-align: justify;
}
#featured .ui-tabs-panel img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 5px;
}
#featured .ui-tabs-panel .info {
  bottom: 0;
  left: 0;
  height: 70px; /*background: url('images/transparent-bg.png');*/
}
#featured .ui-tabs-panel .info a.hideshow {
  position: absolute;
  font-size: 15px;
  font-family: "Roboto", Arial, Verdana;
  color: #f0f0f0;
  right: 10px;
  top: -20px;
  line-height: 20px;
  margin: 0;
  outline: none;
}
#featured .info h2 {
  font: 700 18px/24px "Roboto", Arial, Verdana;
  padding: 5px 0;
  margin: 0;
  font-weight: normal;
  overflow: hidden;
}
#featured .info p {
  font-family: "Roboto", Arial, Verdana;
  font-size: 13px;
  line-height: 18px;
  color: #58585b;
  text-align: justify;
}
#featured .info a {
  text-decoration: none;
  color: #404041;
  font-weight: bold;
  text-decoration: none;
}
#featured .info a:hover {
  text-decoration: none;
}
#featured .ui-tabs-hide {
  display: none;
}
#featured ul.ui-tabs-nav li:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}
.fix-slider {
  text-align: center;
}

.box-img .tit a {
  font: 700 18px/24px "Roboto", Arial, Verdana;
  color: #404041;
  text-decoration: none;
}
.des .ct {
  text-align: justify;
  font: 400 13px/18px Roboto, Arial, Tahoma;
  margin-top: 10px;
}
.button a {
  border-radius: 10px;
  border: solid 1px;
  width: 12%;
}
@media screen and (max-width: 974px) {
  .chidao-dieuhanh {
    display: none;
  }
}
//search
.menu_1 {
  width: 97%;
}
.listDirectOperationRight {
  display: grid;
}

.ldo a {
  color: black !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
  display: block;
}
.listDirectOperationGrid {
  border-bottom: 1px dotted #ccc;
  padding: 15px 0px;
}
.ldo a:hover {
  color: #038bd4 !important;
}
.tags-text a {
  color: #036;
  text-decoration: underline;
}
.description {
  margin-top: 10px;
}
//link goverment
.link-goverment {
  text-transform: uppercase;
  font: 700 16px/30px Roboto, Arial, Tahoma;
  color: #d71920;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
.link-portal-goverment img {
  width: 84%;
  margin-left: 20px;
}

// viddeo media category
#wrapper {
  margin: 0 auto;
  display: block;
  width: 100%;
}

#pagination {
  margin: 0;
  padding: 0;
  text-align: center;
}
#pagination li {
  display: inline;
}
#pagination li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000;
}

/* Active and Hoverable Pagination */
#pagination li a {
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#pagination li a.active {
  background-color: #4caf50;
  color: #fff;
}
#pagination li a:hover:not(.active) {
  background-color: #ddd;
}

//video detail
.myVideo {
  width: 100%;
  object-fit: cover;
  z-index: -100;
}
.video-category {
  width: 100%;
  height: 100%;
}
.video-category-goverment a {
  width: 50%;
  height: 100%;
  text-decoration: none;
}

//detail bo cong an
.detailBlogs {
  color: black !important;
  text-align: left;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.title h1 {
  font: 700 25px/35px Roboto, Arial, Tahoma;
  color: #004175;
  margin-bottom: 20px;
  text-align: justify;
}

.description h4 {
  color: black !important;
}

div.contentBlogs {
  width: 100%;
  text-align: center;
}

.contentBlogs p {
  text-align: justify !important;
  /* For Edge */
  display: block;
  padding-bottom: 8px;
  padding-top: 5px;
}

.box-dieuhuong {
  display: flex;
}

.trangchu a {
  text-decoration: none;
}

.trangchu a:hover {
  color: #004175;
}
.detailBoCongAn {
  padding: 10px 0px;
}

.contentBlogs img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60% !important;
}

.contentBlogs p em {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 60% !important;
}
.blogView {
  color: #333;
  display: block;
  text-align: justify;
}
.contentBlogs i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 60% !important;
}

// đếm bài viết video mới nhất

.lts-chidaodieuhanh {
  padding: 15px;
  border-bottom: 4px solid #004175;
}
.top1 img {
  width: 100%;
}

.lts-chidaodieuhanh ul li a {
  color: #333;
  font: 700 15px/18px Roboto, Arial, Tahoma;
  display: block;
  text-align: justify;
}

.lts-chidaodieuhanh ul li a:hover {
  color: #004175;
}


.viewall {
  font: 400 13px Roboto, Arial, Tahoma;
  font-style: normal;
  color: #004175;
  font-style: italic;
  text-align: right;
  display: block;
}

.top1 a.iconplay {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 0;
  bottom: 8px;
}

<<<<<<< HEAD
.lts-cmanh ul li:last-child {
  border-bottom: none;
}

.lts-cmanh ul li a {
  color: #333;
  font: 400 15px/18px Roboto, Arial, Tahoma;
}

=======
>>>>>>> 9984fe519ea9de75e9dab8f635d91273f776751c
//H05
.head-news-cover-wrapper h2 {
  font-size: 10pt;
  line-height: 18px;
  margin-top: 0;
}
.featured {
  position: relative;
  height: 390px;
  overflow: hidden;
}
.featured ul.ui-tabs-nav {
  position: absolute;
  top: 0;
  left: 60%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  width: 40%;
  padding-left: 5px;
  text-align: justify; /* margin-top:35px; */
  max-height: 380px;
}
.featured ul.ui-tabs-nav li {
  border-bottom: 1px #e2e2e2 dashed;
  font-size: 9pt;
  color: #666;
  overflow: hidden;
}
.featured ul.ui-tabs-nav li img[src=""] {
  visibility: hidden;
}
.featured ul.ui-tabs-nav li span {
  font-size: 9pt;
  line-height: 20px;
  text-align: justify;
}
.featured li.ui-tabs-nav-item a {
  display: block;
  height: 65px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #fff;
  line-height: 20px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  padding: 4px;
}
.featured li.ui-tabs-nav-item a:hover {
  background: #eee;
}
.featured ul.ui-tabs-nav li.ui-tabs-selected a,
.featured ul.ui-tabs-nav li.ui-tabs-active a {
  font-weight: bold;
  background: #eee;
}
.featured .ui-tabs-panel {
  width: 60%;
  position: relative;
  padding-right: 5px;
  padding-top: 0px;
}
.featured .ui-tabs-panel img {
  width: 100%;
  max-height: 290px;
  margin-top: 2px;
  padding-bottom: 5px;
  height: 288px;
  object-fit: cover;
  object-position: center;
}
.featured .ui-tabs-panel img[src=""] {
  display: none;
}

.featured .ui-tabs-panel .info {
  text-align: justify;
  margin-top: 5px;
}

.featured .ui-tabs-panel .info a.hideshow {
  position: absolute;
  font-size: 9pt;
  color: #000;
  right: 10px;
  top: -20px;
  line-height: 20px;
  margin: 0;
  outline: none;
  background: #333;
}
.featured .info h2 {
  font-size: 10pt;
  padding: 5px 0;
  margin: 0;
  font-weight: normal;
  overflow: hidden;
  font-weight: bold;
}
.featured .info p {
  margin: 0px;
  font-size: 9pt;
  line-height: 20px;
  color: #000;
}
.featured .info a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}
.featured .ui-tabs-hide {
  display: none;
}
.featured .ui-tabs-nav-item img {
  width: 75px;
  height: 50px;
}
.featured .ui-tabs-nav-item span a {
  font-size: 9pt;
  font-family: Arial, Helvetica, sans-serif;
}

.tabbed {
  border-bottom: 1px solid #e2e2e2;
  background-position: 100% 100%;
  margin-bottom: 10px;
  margin-right: -10px;
  -webkit-transition: height 200ms ease;
  -moz-transition: height 200ms ease;
  -ms-transition: height 200ms ease;
  -o-transition: height 200ms ease;
  transition: height 200ms ease;
}
.tabbed .tabcont .tabcontent {
  display: none;
  line-height: 20px;
}
.tabbed .tabcont .tabcontent img {
  max-width: 100%;
  height: 310px;
  max-height: 310px;
}
.tabbed .tabcont .tabcontent.active {
  display: block;
}
.tabnav {
  padding: 0;
  height: 28px;
  background: #eee;
  border-bottom: 1px solid #ddd;
}
.tabnav li {
  float: left;
  margin-left: 10px;
}
.tabnav li a:hover {
  text-decoration: none;
}

.tabnav li a {
  display: block;
  padding: 7px 10px;
  cursor: pointer;
  position: relative;
  font-size: 9pt;
  text-transform: uppercase;
  font-weight: bold; /*-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;*/
  font-family: Arial, Helvetica, sans-serif;
}
.tabnav li.active a {
  border-top: 2px solid #888;
  top: -2px;
  font-size: 9pt;
  text-transform: uppercase;
  font-weight: bold;
  color: #004175;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transform: tr;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  border: 0;
}
.tandan-div-nav li.actived {
  background: rgba(0, 0, 0, 0.1);
}

.layout-top {
  width: 100%;
}
.tandan-div-main {
  margin-top: 25px;
}

.tandan-div-body {
  position: relative;
}

.featured ul.ui-tabs-nav li img {
  float: left;
  margin: 5px;
  background: #fff;
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #eee;
  margin-left: 0px;
}
.td-thongtincanbiet {
  display: inline-block;
}
.td-thongtincanbiet .td-ttcb-left {
  width: 140px;
  float: left;
  margin-right: 10px;
}

.td-ttcb-right {
  width: 140px;
  float: right;
}
.td-vid-View .vid-item {
  float: left;
  width: 224px;
  margin: 10px 10px 0 0;
}
.td-vid-View.zoom-first .vid-item:first-child {
  width: 458px;
}
.td-vid-View.zoom-first .vid-item:first-child .thumb {
  height: 324px;
}
.galleria {
  margin-right: 8px;
  height: 500px;
}
.td-media-player > div {
  width: 695px !important;
  height: 460px !important;
}
.TD-box-news-main .img-main {
  max-width: 90px;
  padding: 10px;
}
.tandan-ul-nav > li > a {
  transition: all ease 0.3s;
  text-transform: uppercase;
}
.tandan-ul-nav > li {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.tandan-ul-nav > li:last-child {
  border-right: none;
}
.tandan-ul-nav > li + li {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.tandan-div-nav li:hover a {
  background: rgba(0, 0, 0, 0.1);
}
.tandan-div-nav .home-nav-bottom {
  width: auto;
  height: auto;
}

.tandan-div-nav-top {
  margin-bottom: 1px;
}
//feature new
.TD-box-news-title,
.block .tandan-div-article-other p.tandan-p-article-other {
  background: #316db5;
  background: linear-gradient(#316db5, #20589a);
  height: 38px;
}

.menu-lv1 {
  height: auto;
  width: 100%;
  display: inline-block;
}

.TD-box-news-title a {
  color: #ffffff !important;
  border-top: none;
  padding: 10px 10px;
  margin: 0;
  line-height: 20px;
  float: left;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}

.TD-box-news {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
}

.tandan-div-module-links-websites label:after,
.TD-div-module-links-websites label:after {
  right: 5px;
  top: 0;
  bottom: 1px;
}

.TD-div-module-links-websites label {
  width: 100%;
  line-height: 25px;
}

.TD-div-module-links-websites {
  width: 90%;
  float: left;
  border: 1px solid #316db5;
  margin: 6px 5%;
}

.ngay {
  color: #3585e6;
}

.TD-box-news-title,
.block .tandan-div-article-other p.tandan-p-article-other {
  width: 100%;
  float: left;
  border-bottom: 1px solid red;
  border-radius: 5px 5px 0 0;
  background: #316db5;
  background-image: url(../img/bg-head.svg);
  background-position: center right;
  background-size: auto 36px;
  background-repeat: no-repeat;
}

.block .tandan-div-article-other p.tandan-p-article-other {
  color: #fff;
  padding: 10px;
  line-height: 20px;
}

.head-news-cover-wrapper h2 a {
  color: #225b9d;
}

.block > .title {
  background: #316db5;
  border-radius: 3px 3px 0 0;
  min-height: 33px;
  background-position: center right;
  background-size: auto 31px;
  background-repeat: no-repeat;
}


.tandan-p-module-news-title a {
  color: #012652;
}

.tabnav li.active a,
.tabnav li a:hover {
  color: #ffffff !important;
  top: -2px;
  border-top: none !important;
  background: #225a9d;
}

.TD-sub-channel-title {
  background: #316db5;
}

.tabnav {
  height: 30px;
  border-bottom: 1px solid #fd0000;
}

.tabnav li.active a {
  border-top: none;
}

.tabnav li a {
  transition: all ease 0.3s;
}

.TD-box-news-main .tandan-div-module-news-bottom-new {
  border-left: none;
  background: #ffffff;
}
.tandan-div-module-news-bottom {
  margin-top: 10px;
  padding-bottom: 15px;
  max-height: 220px;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 10px;
  width: 100%;
  float: left;
  display: inline-block;
}

.tandan-div-module-news-bottom::-webkit-scrollbar-track {
  background: #eee;
  width: 8px;
  border-radius: 10px;
}

.tandan-div-module-news-bottom::-webkit-scrollbar {
  background: #eee;
  width: 8px;
  border-radius: 10px;
}

.tandan-div-module-news-bottom::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  width: 8px;
  border-radius: 10px;
}

.channel-head-new-home-page > .TD-box-news-main > table {
  width: 100%;
  display: inline-block;
}

.tandan-div-module-news-top {
  padding-top: 10px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  width: 100%;
  display: inline-block;
  float: left;
}

.tandan-div-module-default-left {
  float: left;
  margin: 3px 10px 3px 5px;
  margin-right: 10px;
}

.tandan-div-module-default-left img {
  width: 140px;
  height: 105px;
}

.tandan-div-module-default-left img[src=""] {
  display: none;
}

.tandan-div-module-default-right .tandan-p-module-news-title {
  padding-left: 5px;
}

.tandan-p-module-news-title {
  padding-right: 5px;
  text-align: justify;
}

.tandan-p-module-news-title a {
  font-weight: 500;
  text-align: justify;
  line-height: 18px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.tandan-p-module-news-title a:hover {
  color: #038bd4;
  cursor: pointer;
  text-decoration: none;
}

.tandan-p-module-news-summary {
  color: #5e5e5e;
  text-align: justify;
  margin: 5px;
  line-height: 20px;
}

.ttlh div.tandan-p-module-news-summary {
  max-height: 250px;
  overflow: hidden;
  overflow-y: auto;
  padding-right: 5px;
}

.ttlh div.tandan-p-module-news-summary a {
  font-weight: 500;
  font-size: 13px;
}

.tandan-div-module-default-right p.tandan-p-module-news-summary {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.tandan-p-module-news-second a:hover {
<<<<<<< HEAD
  color: #038bd4 !important;
=======
  color: #d65a01 !important;
  text-decoration: none;
>>>>>>> 9984fe519ea9de75e9dab8f635d91273f776751c
}

.TD-box-news-title {
  border-bottom: 1px solid #d65a01;
}

.tabnav li a {
  color: #555 !important;
}

.tabnav li.active a,
.tabnav li a:hover {
  color: #d65a01 !important;
  border-top: 2px solid #d65a01 !important;
  top: -2px;
}

.tandan-div-module-links-websites select,
.TD-div-module-links-websites select {
  color: #888;
}
a.top-t-1,
a.top-t-2,
a.top-t-1:visited,
a.top-t-2:visited {
  color: #d65a01 !important;
}

.channel-news-title a {
  color: #d65a01 !important;
}

.channel-news-title a:hover {
  color: #ce0203 !important;
}

.tandan-p-article-news-title a {
  color: #c10600;
}

.tandan-p-article-author {
  font-weight: normal;
}

.tandan-div-module-news-article .img-border .img-cap,
.tandan-div-module-news-article .img-border .img-cap span,
.tandan-div-module-news-article .img-border .img-cap p {
  color: #d70;
}

.TD-ul-module-menu-left li:hover {
  background: #f5f5f5;
}
.tandan-p-module-news-second {
  margin-left: 10px;
  line-height: 18px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #dadada;
}

.tandan-p-module-news-second a {
  padding-left: 13px;
  text-align: justify;
  cursor: pointer;
  color: #111 !important;
  font-weight: 400;
  text-decoration: none;
}


// footer
.Td-footer {
  position: relative;
  color: #fff;
  text-align: left;
  border-top: 2px solid #1f4f86;
  min-height: 100px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.Td-footer-nav {
  max-width: 1010px;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
}

.bottom-nav {
  
  overflow: hidden;
  line-height: 20px;
  float: left;
}
// video

.Td-footer h2 {
  color: #fd9b08 !important;
}
@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 8%;
  }
}
// video
.head-cm .xemthem {
  float: right;
  font: 400 13px Roboto, Arial, Tahoma;
  color: #0a4298;
  display: block;
  padding-top: 12px;
}
//Category right
.block.border {
  border: 1px solid #9abbe2;
  border-radius: 3px 3px 0 0;
  padding-bottom: 0px;
}
.block {
  padding: 1px;
  margin-bottom: 5px;
  height: auto;
}
.block > .title.flat {
  background: none;
  color: #333;
  line-height: 20px;
}
.block .title a,
.block .tandan-div-article-other p.tandan-p-article-other {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.td-slide-rotate {
  width: 100%;
  height: 146px;
}
.block > .title,
.block .tandan-div-article-other p.tandan-p-article-other {
  font-size: 13px;
  text-align: left;
  font-weight: bold;
}
.TD-ul-module-menu-left {
  line-height: 18px;
  overflow: hidden;
  overflow-y: auto;
}
.TD-ul-module-menu-left li {
  border-bottom: 1px solid #e0e0e0;
  padding: 5px 0;
  padding-left: 5px;
}

.dropup,
.dropdown {
  position: relative;
}
dt {
  font-weight: bold;
}

dt,
dd {
  line-height: 1.42857143;
}
.TD-ul-module-menu-left a {
  font-size: 12px;
  padding-left: 15px;
  text-decoration: none;
  font-family: Roboto, Arial, Tahoma;
}
.TD-ul-module-menu-left a:hover {
  color: #038bd4;
<<<<<<< HEAD
}
.promotional_photo {
  width: 100%;
  height: 100%;
}
=======
}
>>>>>>> 9984fe519ea9de75e9dab8f635d91273f776751c
