
.countViewBlogs a{
	color:black !important;
	
}
.countViewBlogs a:hover{
	color:red !important;
	text-decoration:none;
}
.imageViewBlogs img{
	width:100%;

}
.countViewBlogs{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:left;
	padding:5px;
}

.currentDate {
	background:#80808061;
}
.currentDate p{
	opacity:0.8;
	font-size:11px;
	padding:4px;
	text-align:right;
}
.soup-image {
	width:60% !important;
	float:left;
	margin-right:2%;
	border: 4px double rgb(212, 211, 211);
}
.featured-news{
	  display: grid;
  grid-template-columns: 50% 50% !important;
}
.featured-news a{
	color: black !important;
	text-decoration:none;
	
}
.featured-news a:hover{
	color:red !important;
}
.fearured-news span{
	padding:5px;
}
.title1{
	padding: 25px 0px 0px 10px;
	display: block !important;
    text-align: justify !important;
}
p{
    text-align: justify !important; /* For Edge */
    display: block;
}
.grid2 a{
	font-size:20px;
}
.grid {
	display: grid;
	grid-template-columns: 50% 50%;
	box-shadow: 0px 0px 25px -11px grey inset;
	padding: 10px 5px;
}

.hotNews a {
	color: black !important;
	text-decoration: none;
}
.hotNews a:hover {
	color: red !important;
}
a {
	text-align: justify;
}
.soup-image1 {
	width: 50% !important;
	height: 100% !important;
	float: left;
	margin-right: 2%;
}
.hotNews {
	padding: 2%;
}
@media only screen and (max-width: 600px) {
	.grid {
		display: block;
		box-shadow: 0px 0px 25px -11px grey inset;
		padding: 10px 5px;
	}
	.hotNews{
		padding:2%;
		display:flex;
	}
	.hotNews a{
		font-size: 12px;
	}
	.soup-image1 {
		width: 30% !important;
		height: 100% !important;
		float: left;
		margin-right: 2%;
	}
  .featured-news{
  	display:block !important;
  }
  .grid2 a{
	  font-size:16px;
  }
  .soup-image{
	  width: 100% !important;
	  border: 4px double rgb(212, 211, 211);
  }
  .grid1 p{
	font-size: 14px;
  }
  .title{
	  font-size:12px;
  }
}
@media only screen and (max-width: 1200px) {
	.grid {
		display: block;
		box-shadow: 0px 0px 25px -11px grey inset;
		padding: 10px 5px;
	}
	.hotNews{
		padding:2%;
		display:flex;
	}
	.soup-image1 {
		width: 30% !important;
		height: 100% !important;
		float: left;
		margin-right: 2%;
	}
	.featured-news{
		display:block !important;
	}
	.grid2 a{
		font-size:16px;
	}
	.soup-image{
		width: 100% !important;
		border: 4px double rgb(212, 211, 211);
	}
	.grid1 p{
	  font-size: 14px;
	}
	.title{
		font-size:12px;
	}
  }
  .head-albums_anh { font: 700 18px/35px Roboto,Arial,Tahoma; color: #404041; text-transform: uppercase; text-align: center; margin: 15px 0 5px 0; }
           .albums_anh { background: #FFF url('http://bocongan.gov.vn/Publishing_Resources/web/portal/images/bg-right.png') repeat-x center top; border: 1px solid #ddd; overflow: auto; }
           .linered { border-top: 2px solid #d71920; width: 30%; margin: 0 auto; }
           .lts-cmanh { padding: 10px; border-bottom: 4px solid #d71920; }
           .lts-cmanh .top1 { background: #FFF; border: 1px solid #ccc; }
           .lts-cmanh .top1 div { padding: 8px 10px; }
           .lts-cmanh .top1 a:hover.album_bottom{color: red;}
           .lts-cmanh .top1 div a { color: #404041; font: 700 15px/18px Roboto,Arial,Tahoma; text-align: justify; display:block;}
           .lts-cmanh ul { list-style: none; }
           .lts-cmanh ul li { background: url('http://bocongan.gov.vn/Publishing_Resources/web/portal/images/i-bul.png') no-repeat left 18px; border-bottom: 1px dotted #ccc; padding: 10px 0 10px 15px; text-align: justify;}
           .lts-cmanh ul li a { color: #333; font: 400 15px/18px Roboto,Arial,Tahoma; display:block;text-align:justify; }
           a,.ms-link:visited{text-decoration:none;}
           @media screen and (max-width: 974px) {
            	.albums_anh{
            		display: none;
            	}
			}
.head-cm {
        width: 100%;
        border-bottom: 1px solid #d71921;
        margin-bottom: 20px;
      }
      .head-cm ul {
        display: inline-flex;
        list-style: none;
      }
      .head-cm ul li:first-child {
        background: url("	http://bocongan.gov.vn/Publishing_Resources/web/portal/images/bg-chuyenmuc.png")
          no-repeat right top;
      }
      .head-cm ul li:first-child a {
        color: #fff;
        font: 700 16px/35px Roboto, Arial, Tahoma;
        text-transform: uppercase;
        border-right: none;
        padding: 0 30px 0 20px;
      }
      .head-cm ul li a {
        color: #404041;
        font: 400 13px/35px Roboto, Arial, Tahoma;
        padding: 0 10px;
        border-right: 1px solid #ddd;
        text-decoration: none;
      }
      .info-album { overflow: auto; margin-bottom: 20px; border-bottom: 1px solid #ddd; padding-bottom: 20px; }
		.box-top3 li a {
        text-align: justify;
        font: 700 14px/19px Roboto, Arial, Tahoma;
        display: block;
      }

      .box-top3 li img {
        width: 100%;
        height: 200px;
      }



    
      .box-top3 ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .box-top3 ul li {
        width: 30%;
        margin-right: 2.8%;
        float: left;
        position: relative;
      }

      .box-top3 ul li a {
        text-align: justify;
        font: 700 14px/19px Roboto, Arial, Tahoma;
        color: #58595b;
        display: block;
      }

      .box-top3 ul li img {
        width: 100%;
        height: 125px;
      }
      .main_photo {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.main_photo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #fff;
  color: #333;
}
.container_photo {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 68rem;
  width: 100%;
}
.main_photo .container_photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.main_photo .card-image {
  background: #fff;
  display: block;
  padding-top: 70%;
  position: relative;
  width: 100%;
}
.main_photo .card-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 67%;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .main_photo .container_photo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
 .button a{
        border-radius: 10px;
        border: solid 1px;
        width: 12%;
      }
      .chidao-dieuhanh {background: #FFF url('http://bocongan.gov.vn/Publishing_Resources/web/portal/images/bg-right.png') repeat-x center top;border: 1px solid #ddd;overflow: auto;}
           .head-chidaodieuhanh { font: 700 18px/35px Roboto,Arial,Tahoma; color: #404041; text-transform: uppercase; text-align: center; margin: 15px 0 5px 0; }
           .linered { border-top: 2px solid #d71920; width: 30%; margin: 0 auto; }
           .lts-cmanh ul li a.active {
        font-weight: bold;
        color: #be1e2d;
      }
      .lts-cmanh ul li ul li:first-child {
        border-top: 1px dotted #ccc;
        margin-top: 10px;
      }
      .lts-cmanh ul li {
        background-position-y: 18px;
        border-bottom: 1px dotted #ccc;
        padding: 10px 0 10px 20px;
      }
      .i-ngang {
        background: url(http://bocongan.gov.vn/Publishing_Resources/web/media/images/i-ngang.png)
          no-repeat 7px 13px !important;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .lts-cmanh ul li:last-child {
        border-bottom: none;
      }
      .lts-cmanh ul li a {
        color: #333;
        font: 400 15px/18px Roboto, Arial, Tahoma;
        text-decoration: none;
      }
      .lts-cmanh ul li a.active {
        font-weight: bold;
        color: #be1e2d;
      }
      .lts-cmanh ul li a:hover {
        font-weight: bold;
        color: #be1e2d;
      }
      .lts-chidaodieuhanh { padding: 15px; border-bottom: 4px solid #d71920; }
           .lts-chidaodieuhanh ul { list-style: none; }
           .lts-chidaodieuhanh ul li { background: url('http://bocongan.gov.vn/Publishing_Resources/web/portal/images/i-v.png') no-repeat; padding-left: 25px; margin-bottom: 15px; }
           .lts-chidaodieuhanh ul li a { color: #333; font: 700 15px/18px Roboto,Arial,Tahoma; display: block; text-align: justify; text-decoration: none; }
           .lts-chidaodieuhanh ul li a:hover {color: red;}
           .viewall { font: 400 13px Roboto,Arial,Tahoma; font-style: normal; color: #be1e2d; font-style: italic; text-align: right; display: block; }
           @media screen and (max-width: 974px) {
            	.chidao-dieuhanh{
            		display: none;
            	}
			}
//Hot event
#featured { position: relative; min-height: 515px; overflow: hidden; background: #fff; }
#featured ul.ui-tabs-nav { position: absolute; top: 0; left: 63.04131054131054%; list-style: none; padding: 0; margin: 0; width: 36.75213675213675%; overflow: auto; overflow-x: auto; overflow-x: hidden; }
#featured ul.ui-tabs-nav li { color: #666; float: right; margin-bottom: 7px; padding-bottom: 7px; width:100%;}
#featured ul.ui-tabs-nav li img { float: left; padding-right: 10px; width: 100px; }
#featured ul.ui-tabs-nav li span { font: normal 13px/18px 'Roboto', Arial, Verdana; display: block; }
#featured li.ui-tabs-nav-item a p { font-size: 15px; color: #1b75bb; }
#featured li.ui-tabs-nav-item a { font-family: Roboto,Arial,Tahoma; text-align: justify; display: block; height: auto; text-decoration: none; color: #58585B; background: #fff; outline: none; font-size:14px; }
#featured li.ui-tabs-nav-item a:hover { background: #FFF; font-weight: bold; color: #038bd4; }
#featured li.ui-tabs-nav-item:last-child a { border-bottom: none; }
#featured li.ui-tabs-selected span, #featured li.ui-tabs-active span { font: 700 13px Roboto,Arial,Tahoma !important; }
#featured ul.ui-tabs-nav li.ui-tabs-selected a, #featured ul.ui-tabs-nav li.ui-tabs-active a { background: #FFF; font-weight: bold; }
#featured .ui-tabs-panel { width: 60.54131054131054%; position: relative; text-align:justify; }
#featured .ui-tabs-panel img { width: 100%; height: 278px;margin:0 auto; margin-bottom:5px; }
#featured .ui-tabs-panel .info { bottom: 0; left: 0; height: 70px; /*background: url('images/transparent-bg.png');*/ }
#featured .ui-tabs-panel .info a.hideshow { position: absolute; font-size: 15px; font-family: 'Roboto', Arial, Verdana; color: #f0f0f0; right: 10px; top: -20px; line-height: 20px; margin: 0; outline: none; }
#featured .info h2 { font: 700 18px/24px 'Roboto', Arial,Verdana; padding: 5px 0; margin: 0; font-weight: normal; overflow: hidden; }
#featured .info p { font-family: 'Roboto', Arial, Verdana; font-size: 13px; line-height: 18px; color: #58585b; text-align: justify; }
#featured .info a { text-decoration: none; color: #404041; font-weight: bold;text-decoration: none; }
#featured .info a:hover { text-decoration: none; }
#featured .ui-tabs-hide { display: none; }
#featured ul.ui-tabs-nav li:last-child { margin: 0; padding: 0; border-bottom: none; }
.fix-slider{text-align:center;}

.box-img .tit a {font: 700 18px/24px 'Roboto', Arial,Verdana;color:#404041;text-decoration: none;}
.des .ct {text-align:justify;font: 400 13px/18px Roboto,Arial,Tahoma; margin-top:10px;}

//New event
.ltstop2 {overflow: auto;}
            .ltstop2 .top2 { width: 100%; display: flex; }
            .info{width: 50%; padding-right: 15px;}
            a{text-decoration: none;}
            .ltstop2 .top2 .info a { color: #404041; font: 700 18px/24px Roboto,Arial,Tahoma; display: block; padding: 10px 0 5px 0; text-align:justify; }
            .ltstop2 .top2 .info p { font: 400 13px/18px Roboto,Arial,Tahoma; text-align: justify; }
            .ltstop2 .top2:last-child { float: right !important; }
            .ltstop2 .top2 a img { width: 100%; margin:0 auto;}
            .ltstop4 { margin-top: 20px; border-bottom: 1px dotted #acacad; overflow: auto; }
            .ltstop4 ul{list-style: none;}
            .ltstop4 ul li { width: 50%; float: left; margin-bottom: 20px; min-height:80px; padding-right: 15px;}
            .ltstop4 ul li a { font: 700 15px/18px Roboto,Arial,Tahoma; color: #333; display: block; text-align: justify; }
            .ltstop4 ul li img { float: left; width: 20%; margin-right: 15px; }
            @media screen and (max-width: 1024px) {
            .info, .ltstop4 ul li
			  {
			    width: 100%; 
			  }
			  .ltstop2 .top2 { width: 100%; display: block !important; }
			}
			

// New document
.vanbanduthaoitem a.vbdt-image {float: left;width: 100% !important; margin-right:20px; padding-right: 15px;}
.vanbanduthaoitem a.vbdt-image img {width: 100%;}
.vanbanduthaoitem div.title a {color: #333;font: 700 14px/18px Roboto,Arial,Tahoma; text-align:justify;display:block; text-decoration: none; padding-bottom: 10px;}
.vanbanduthaoitem div.title a:hover{color: red;}
.vanbanduthaoitem .desc {font-size: 13px;line-height: 18px;text-align: justify;margin-bottom: 5px; font-family:roboto,arial,tahoma;}
 .vanban{
 	display:grid;
 	grid-template-columns:25% 75% !important;
 	padding-bottom: 20px;
 }

	
// hoi dap
.lts-bovoicongdan ul { overflow: auto; list-style-type: decimal; padding-left: 20px; font: 700 16px Roboto,Arial,Tahoma; color: #404041; }
           ul { list-style: none; margin: 0; padding: 0; }
           .lts-bovoicongdan ul li { padding-bottom: 20px; width: 46.89%; float: left; margin-right: 4%; border-right: 1px dotted #CCC; padding-right: 2%; }
           .lts-bovoicongdan ul li h2 a { font: 700 16px Roboto,Arial,Tahoma; color: #404041;text-align:justify;display:block; }    
           a{text-decoration: none;}
           .lts-bovoicongdan ul li:nth-child(2n) {border-right: none;padding-right: 0;margin-right: 0;}
           .viewall { font: 400 13px Roboto,Arial,Tahoma; font-style: normal; color: #be1e2d; font-style: italic; text-align: right; display: block; }
           .lts-bovoicongdan ul li p, .lts-bovoicongdan ul li div {color: #404041;font: 400 13px/18px Roboto,Arial,Tahoma;/* text-align: justify; */}		

//information news
.detailBlogs{
	color:black !important;
	text-align: left;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
}
.title h2{
	color:black !important;
	 font-weight: bold;
}
.description h4{
	color:black !important;
}
div.contentBlogs{
	width:100%;
	text-align: left;
	
}
div.contentBlogs img{
	width:100% !important;
	height:100%;
}
.contentBlogs p{
	text-align: justify !important; /* For Edge */
    display: block;
}
.tags-text a{
  color: #036;
  text-decoration: underline;
}


//eventNewsInformaion
.directOperator{

  display: grid;
  grid-template-columns: 50% 50% !important;
}
.menu_1{
  padding: 14px;
  border-bottom: 1px dotted #ccc;
  font-family: "Roboto",Arial,Helvetica,sans-serif;
}
a{
  text-align: justify !important; /* For Edge */
}
.directOperator a{
  text-decoration: none;
  color: black !important;
  display:block !important;
}
p{
  text-align: justify !important; /* For Edge */
  display: block;
}
.directOperator a:hover{
  color:red !important;
}
.directOperationRight{
  display: grid;
}

.directOperationGrid img{
  margin-top: 3px;
}
.directOperationLeft{
  margin-right: 13px;
  border-right: 1px dotted #ccc;
  padding-right: 13px;
}
.directOperationLeft a{
  padding-left: 3px;
  margin-top:5px;
  font-size: 16px;
  display:block;
  font-weight: bold !important;
}
.policeActivitieLeft img{
  border: 4px double rgb(212, 211, 211);
  width: 100%;
}
.policeActivitieLeft a{
  display:block;
}
.policeActivitie{
  display: grid;
  grid-template-columns: auto auto !important;
  grid-column-gap: 5%;
}
.policeActivitie a{
  text-decoration: none;
  color: black !important;
  font-weight: bold !important;
}
.policeActivitie a:hover{
  color:red !important;
}
.head-cm {
  width: 100%;
  border-bottom: 1px solid #D71921;
  position: relative;
  margin-bottom: 20px;
}

.head-cm .xemthem {
  float: right;
  font: 400 13px Roboto, Arial, Tahoma;
  color: #be1e2d;
  display: block;
  padding-top: 20px;
}

.head-cm ul {
  display: inline-flex;
  list-style: none;
  position: relative;
  top: 12px;
  left: 0;
  transform: translate(-12px, 0);
}
.soup-image {
width:60% !important;
float:left;
margin-right:2%;
border: 4px double rgb(212, 211, 211);
}

.head-cm ul li a {
  color: #404041;
  font: 400 13px/35px Roboto, Arial, Tahoma;
  padding: 0 15px;
  border-right: 1px solid #ddd;
}

.head-cm ul li:first-child {
  background: url('http://bocongan.gov.vn/Publishing_Resources/web/portal/images/bg-chuyenmuc.png') no-repeat right top;
}

.head-cm ul li:first-child a {
  color: #FFF;
  font: 700 16px/35px Roboto, Arial, Tahoma;
  text-transform: uppercase;
  border-right: none;
  padding: 0 30px 0 20px;
}

.head-cm ul li:last-child a {
  border-right: none;
}
.title{
  padding: 3% 0%;
}
//link goverment
.link-goverment {
  text-transform: uppercase;
  font: 700 16px/30px Roboto, Arial, Tahoma;
  color: #d71920;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
.link-portal-goverment img{
  width: 84%;
  margin-left: 20px;
}

// thu tuong phat bieu
.bn_lanhdao {
	width: 100%;
	background-color: rgb(1, 21, 82);;
}

h6 {
	text-align: center;
	color: white;
	padding: 10px 0 10px 0;
}
// toi pham
.lts-cmanh ul li {text-align:justify; list-style: none;}
            .box-canhgiac{border: 1px solid #ddd;}
            .lts-cmanh {border-bottom: 4px solid #d71920; }
            a{text-decoration: none;}
            .lts-cmanh ul li a { color: #333; font: 400 15px/18px Roboto,Arial,Tahoma; display:block;text-align:justify; }
            .viewall { font: 400 13px Roboto,Arial,Tahoma; font-style: normal; color: #be1e2d; font-style: italic; text-align: right; display: block; }
            .lts-cmanh ul li { background: url('http://bocongan.gov.vn/Publishing_Resources/web/portal/images/i-bul.png') no-repeat left 18px; border-bottom: 1px dotted #ccc; padding: 10px 0 10px 15px; }
            @media screen and (max-width: 974px) {
            	.box-canhgiac{
            		display: none;
            	}
			}

//video media
.box-left-home { overflow: auto; margin-bottom: 20px; padding-bottom: 20px; }
            .box-top3 { overflow: hidden; }
            .box-top3 ul { }
                .box-top3 ul li { width: 30.71428571428571%; margin-right: 3.8%; float: left; position: relative; list-style: none;}
                .box-top3 ul li img {width:100%; height:125px;}
                    .box-top3 ul li .bg-video { background: url("http://bocongan.gov.vn/Publishing_Resources/web/media/images/i-play-video.png") no-repeat bottom left; }
                    .box-top3 ul li:nth-child(3n + 3) { margin-right: 0; }
                    .box-top3 ul li a { text-align:justify; font: 700 14px/19px Roboto,Arial,Tahoma; color: #58595B; display: block; text-decoration: none;}
                    .box-top3 ul li h3 a {padding: 10px 0;}
                        .box-top3 ul li a.iconplay { width: 45px; height: 45px; position: absolute; left: 0; bottom: 0px; background: url("http://bocongan.gov.vn/Publishing_Resources/web/media/images/i-play-video.png") no-repeat; float: left; }
// viddeo media category
#wrapper {
  margin: 0 auto;
  display: block;
  width: 100%;
}

#pagination {
  margin: 0;
  padding: 0;
  text-align: center
}
#pagination li {
  display: inline
}
#pagination li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000
}

/* Active and Hoverable Pagination */
#pagination li a {
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s
    
}
#pagination li a.active {
  background-color: #4caf50;
  color: #fff
}
#pagination li a:hover:not(.active) {
  background-color: #ddd;
} 

//video detail
.myVideo{
  width: 100%;
  object-fit: cover;
  z-index: -100;
}
.video-category{
  width: 100%;
  height: 100%;
}
.video-category-goverment a{
  width: 50%;
  height: 100%;
  text-decoration: none;
}

//detail bo cong an
.detailBlogs {
  color: black !important;
  text-align: left;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif; }

.title h2 {
  color: black !important;
  font-weight: bold; }

.description h4 {
  color: black !important; }

div.contentBlogs {
  width: 100%;
  text-align: center; }

.contentBlogs p {
  text-align: justify !important;
  /* For Edge */
  display: block; }

.box-dieuhuong {
  display: flex; }

.trangchu a {
  padding: 0px 5px;
  color: black;
  text-decoration: none; }

.trangchu a:hover {
  color: red; }

.detailBoCongAn {
  padding: 10px 0px; }

.contentBlogs img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60% !important; }

.contentBlogs p em {
  display: flex;
	align-items: center;
    justify-content: center;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 60% !important;
  
  }

.contentBlogs i {
 display: flex;
align-items: center;
    justify-content: center;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 60% !important; }

  //count view event
.countViewEvent {
	display:grid;
	grid-template-columns: 50% 40% !important;
	grid-column-gap: 5%;
}
.countViewEvent a{
	text-decoration: none;
    color: black !important;
	text-align: justify !important;
	display:block;
}
.countViewEvent a:hover{
	color:red !important;
}
.countViewE img{
	width:100%;
}
.countViewE a{
	font-size:20px;
	font-weight: bold !important;
}
.title-infor{
	padding:6px 0px;
}	
.title-new-hot {
    margin-bottom: 10px;
    border-bottom: 1px solid #d71920;
}
// đếm bài viết video mới nhất
.chidao-dieuhanh {
  background: #FFF url('http://bocongan.gov.vn/Publishing_Resources/web/media/images/bg-right.png') repeat-x center top;
  border: 1px solid #ddd;
  overflow: auto;
}

.head-chidaodieuhanh {
  font: 700 18px/35px Roboto, Arial, Tahoma;
  color: #404041;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0 5px 0;
}

.lts-cmanh {
  padding: 10px;
  border-bottom: 4px solid #d71920;
}

.lts-cmanh .top1 {
  /*background: #FFF;*/
  border-bottom: 1px dotted #ccc;
}
.lts-cmanh .top1 div video{
  width: 100%;
}
.lts-cmanh .top1 div {
  padding: 8px 0px;
}

.lts-cmanh .top1 div a {
  color: #404041;
  font: 700 15px/18px Roboto, Arial, Tahoma;
  text-align: justify;
  text-decoration: none;
}

.lts-cmanh ul {}

.lts-cmanh ul li {
  background: url('http://bocongan.gov.vn/Publishing_Resources/web/media/images/i-bul.png') no-repeat left center;
  border-bottom: 1px dotted #ccc;
  padding: 10px 0 10px 15px;
  list-style: none;
}

.lts-cmanh ul li:last-child {
  border-bottom: none;
}

.lts-cmanh ul li a {
  color: #333;
  font: 400 15px/18px Roboto, Arial, Tahoma;
  text-decoration:none;
}

.lts-cmanh ul li a.active {
  font-weight: bold;
  color: #be1e2d;
}

.lts-cmanh ul li a:hover {
  font-weight: bold;
  color: #be1e2d;
}

.linered {
  border-top: 2px solid #d71920;
  width: 30%;
  margin: 0 auto;
}