.cp_cactochucphoihoplienngnanh {
		background-image: linear-gradient(rgb(243, 243, 162), rgb(240, 240, 222));
        border: rgb(207, 205, 205) solid 1px;
        color: #990000;
        font-size: 12px;
        height: 25px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        text-transform: uppercase;
}