body {
        margin: 0px;
      }
      .header-banner {
        background-color: rgb(215, 3, 17);
        height: 150px;
      }
      .banner {
        height: 150px;
      }
      .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
        width: 100%;
      }

      .header-top {
        height: 150px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-image: url("banner.jpg");
        background-repeat: no-repeat;
      }
      @media screen and (min-width: 1700px) {
        .container {
          max-width: 1242px;
        }
      }
      @media only screen and (min-width: 992px) {
        .header-flag {
          right: 5%;
        }
      }
      .header-flag {
        top: 0px;
        right: 0px;
        bottom: 0px;
        height: 150px;
        position: absolute;
        background-image: url("flag.gif");
        background-repeat: no-repeat;
        padding-right: 35%;
      }